@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

:root {
  --mainGreen: green;
  --mainRed: rgb(230, 74, 27);
  --secondaryText: white;
}

*,
body,
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0 auto;
  height: 100%;
  padding-bottom: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0.6rem;
}

p {
  line-height: 1rem;
  letter-spacing: 0.04rem;
  word-wrap: break-word;
  text-indent: 0.7rem;
}

ol {
  line-height: 2.5rem;
}

ul {
  width: 60%;
  margin-left: 1rem;
}

.action {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.action a {
  margin: 0.5rem;
}

#img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.computerImage {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.word {
  font-size: 0.7rem;
}

.btn:hover {
  background-color: green;
}

/* Scaared.HTML */

.scared {
  margin-top: 25%;
}

/* Exit.HTML */

.exit {
  color: var(--secondaryText);
  margin-top: 35%;
}

/* Utilities */
.bigText {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: rgb(233, 105, 55);
}

.mediumText {
  margin: 0.8rem;
  font-size: 1.2rem;
}
.smallText {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.btn {
  width: 80px;
  padding: 0.8em;
  border: 2px solid none;
  border-radius: 5px;
  margin: 0 auto;
}

.green {
  color: var(--mainGreen);
}

.red {
  color: var(--mainRed);
}

/* notSarced.html */

.game {
  margin: 0 auto;
  padding-bottom: 0px;
}

.game h1 {
  margin-bottom: -3%;
}
.game h4 {
  margin-top: 1.5rem;
}

.userSection,
.comSection {
  margin-top: -13px;
}
.userSection > h2,
.comSection > h2 {
  margin: 0.6em 0.9em;
  padding: 0;
}
.userSection h4,
.comSection h4 {
  margin-top: -20px;
}
.score {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.45rem;
}

h4 {
  text-align: center;
  transition: all 0.5 ease;
}
.user,
.com {
  font-size: 3em;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1.5em auto;
  margin-bottom: 0;
}
.choiceImg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1.3em;
  border: 1px solid gray;
  padding: 0.5rem;
  cursor: pointer;
}

.choiceImg:active {
  box-shadow: 1px 2px 2px 7px rgb(218, 163, 163);
}
.choiceImg h3 {
  width: 40%;
  margin-left: 2em;
  text-align: left;
}

#imgchoice {
  width: 40px;
  height: 40px;
}
#commentText {
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
  color: rgb(10, 167, 10);
}
.actionExit {
  width: 50%;
  margin-top: 10px;
}
.actionExit button {
  border: none;
  border-radius: 18px;
  background-color: rgb(230, 74, 27);
  color: white;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

/* winner.HTML */
.winner {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  height: 100%;
}
#winText {
  color: rgb(10, 167, 10);
}

/* MEDIA QUERY */

@media (min-width: 379px) {
  .choiceImg {
    width: 70%;
  }

  .bigText {
    font-size: 1.5rem;
  }
}
@media (min-width: 524px) {
  .action {
    margin-top: 20px;
    flex-direction: row;
  }
}

@media (min-width: 624px) {
  .choice {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .choiceImg {
    margin-left: 20px;
  }
  .word {
    font-size: 0.8rem;
  }
  .comSection,
  .userSection {
    font-size: 1.3rem;
  }
  .rulePoint {
    font-size: 1rem;
  }
  .action {
    width: 100%;
  }
  .action button,
  .actionExit button {
    margin: 0 auto;
    width: 100%;
    font-size: 1.4rem;
    margin-right: 40px;
  }
  .winner h3 {
    font-size: 1.4rem;
  }
  #winText {
    font-size: 2rem;
  }

  .mediumText {
    font-size: 1.4rem;
  }
}

@media (min-width: 1023px) {
  .game h1 {
    font-size: 3rem;
  }
  .choice {
    width: 100%;
  }

  #commentText {
    font-size: 1.5rem;
  }
  .choiceImg h3 {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .word {
    font-size: 1.3rem;
  }
  .comSection,
  .userSection {
    font-size: 1.7rem;
  }
  .rulePoint {
    font-size: 1.35rem;
  }
  .action button,
  .actionExit button {
    font-size: 1.6rem;
  }
  .winner h3,
  .mediumText {
    font-size: 1.4rem;
  }

  #winText {
    font-size: 2.3rem;
  }
  .bigText {
    font-size: 2.3rem;
  }
  #img {
    height: 140px;
    width: 140px;
  }
}
