:root {
  --mainGreen: green;
  --mainRed: rgb(230, 74, 27);
  --secondaryText: white;
}

*,
body,
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1em;
}

p {
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
  word-wrap: break-word;
  text-indent: 0.7rem;
}

ol {
  line-height: 1.75rem;
}

ul {
  width: 60%;
  margin-left: 1rem;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

.action {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.action a {
  margin: 0.5rem;
}

#img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.computerImage {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.btn:hover {
  background-color: green;
}

/* Scaared.HTML */

.scared {
  margin-top: 25%;
}

/* Exit.HTML */

.exit {
  color: var(--secondaryText);
  margin-top: 35%;
}

/* Utilities */
.bigText {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.mediumText {
  margin: 0.8rem;
  font-size: 1.2rem;
}
.smallText {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.btn {
  width: 80px;
  padding: 0.8em;
  border: 2px solid none;
  border-radius: 5px;
  margin: 0 auto;
}

.green {
  color: var(--mainGreen);
}

.red {
  color: var(--mainRed);
}
